.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2e363e;
  position: relative;
}
.nav__notification {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.nav__notification1 {
  display: block;
  position: absolute;
  background-color: tomato;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  right: -10px;
  bottom: 25px;
}
a {
  transition: all 0.5s ease-in-out;
}
a:hover {
  opacity: 0.5s;
}
